.nav {
  background-color: #C08DBB;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

footer {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #C08DBB;
  padding: 10px;
  margin: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
