.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

input[disabled] {
  background-color: #e0e0e0; /* light gray */
  color: #6c6c6c;
  border: 1px solid #ccc;
  padding-right: 24px; /* space for the icon */
}

.error-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
  display: none;
  pointer-events: none;
}
