.home-img-top {
  width: 450px;
  height: 300px;
}

.searchbar {
  width: 100%;
  padding: 10px;
  padding-right: 125px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  width: 200px;
  height: 180px;
  object-fit: cover;
}

.item-card {
  width: 220px;
}
