<div>


<br><br><br><br>
<h1 class="d-flex d-flex-center">Register account</h1>
<br><br>
<div class="d-flex d-flex-justify-center d-flex-align-top">
  <form [formGroup]="registerForm" (submit)="onSubmit($event)" class="d-flex d-flex-row ">
    <div class="margin-right-50">
      <p>Username</p>
      <input type="text" class=" input-field" formControlName="username" placeholder="username">
      @if (errorFor('username'); as message) {
        <p class="error-message">{{ message }}</p>
      }
      <p>Password</p>
      <input type="password" class="input-field" formControlName="password" placeholder="password">
      @if (errorFor('password'); as message) {
        <p class="error-message">{{ message }}</p>
      }
      <!-- <p>Repeat Password</p>
      <input type="text" class="input-field" formControlName="confirmPassword" placeholder="confirm password"> -->
      <p>Email</p>
      <input type="text" class="input-field" formControlName="email" placeholder="email@example.com">
      @if (errorFor('email'); as message) {
        <p class="error-message">{{ message }}</p>
      }
      <p>Phone Number</p>
      <input type="text" class="input-field" formControlName="phone" placeholder="123-456-7890">
      @if (errorFor('phone'); as message) {
        <p class="error-message">{{ message }}</p>
      }
    </div>
    <div>
      <p>Street</p>
      <input type="text" class=" input-field" formControlName="street" placeholder="street">
      @if (errorFor('street'); as message) {
        <p class="error-message">{{ message }}</p>
      }
      <p>City</p>
      <input type="text" class="input-field" formControlName="city" placeholder="city of residence">
      @if (errorFor('city'); as message) {
        <p class="error-message">{{ message }}</p>
      }
      <p>Postal code</p>
      <input type="text" class="input-field" formControlName="postalCode" placeholder="postal code">
      @if (errorFor('postalCode'); as message) {
        <p class="error-message">{{ message }}</p>
      }
      <p>Country</p>
      <input type="text" class="input-field" formControlName="country" placeholder="country of residence" >
      @if (errorFor('country'); as message) {
        <p class="error-message">{{ message }}</p>
      }

      <br><br><br><br>
      <div>


      <input type="submit" class="login-button-anchor" style="border: none; color: white; margin-right: 10px;" value="Create Account">
      <a href="" class="login-button-anchor" style="background-color: gray;">Cancel</a>
      </div>
    </div>
  </form>
  </div>

</div>
